@using MVC_SYSTEM.Class

@{
    GetConfig GetConfig = new GetConfig();
}

@{
    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: false,
        ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);

    if (@grid.TotalRowCount > 0)
    {
        <div class="text-center">@grid.TotalRowCount @Html.Label("Project System Custom Information(s)")</div>

        @grid.GetHtml(htmlAttributes: new { id = "grid" }, // id for ajaxUpdateontainerId parameter
                                tableStyle: "table table-bordered table-striped table-list table-hover",
                                headerStyle: "header_table",
                                alternatingRowStyle: "Grid-alt",
                                selectedRowStyle: "Grid-selected",
                                rowStyle: "Grid-rowstyle",
                                footerStyle: "table-pager",
                                mode: WebGridPagerModes.All,
                                columns: grid.Columns(
                                    grid.Column(header: "No."
                                        , format: item => item.WebGrid.Rows.IndexOf(item) + 1
                                                          + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                                                          * grid.RowsPerPage * grid.PageIndex, style: "count"),
                                    grid.Column(columnName: "fld_WilayahCode", header: "Region Code", style: "kod"),
                                    grid.Column(columnName: "fld_PktUtama", header: "Division", style: "keterangan"),
                                    grid.Column(columnName: "fld_Blok", header: "Block", style: "keterangan"),
                                    grid.Column(columnName: "fld_JnsTnmn", header: "Crop Type", style: "keterangan"),
                                    grid.Column(columnName: "fld_LsPktUtama", header: "Hectare", style: "keterangan"),
                                    grid.Column(columnName: "fld_DirianPokok", header: "Crop Count", style: "keterangan"),
                                    grid.Column(columnName: "fld_WBSCode", header: "WBS Code", style: "keterangan"),
                                    grid.Column(columnName: "fld_TahunTnm", header: "Planting Year", style: "keterangan"),
                                    grid.Column(columnName: "fld_StatusTnmn", header: "Crop Status", style: "keterangan"),
                                    grid.Column(columnName: "fld_LuasBerhasil", header: "Harvesting Area", style: "keterangan")
                                    ))
    }
    else
    {
        <hr />
        <div class="text-center">
            @Html.Label("No record found")
        </div>

        <hr />
    }
}

<style>
    .header_table th {
        text-align: center;
        vertical-align: middle !important;
    }

    .count {
        width: 30px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .kod {
        width: 100px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .keterangan {
        width: 150px;
        font-size: 12px;
        text-align: left;
        vertical-align: middle !important;
    }

    .tetapan1 {
        width: 150px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tetapan2 {
        width: 150px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle !important;
    }

    .tindakan {
        width: 80px !important;
        text-align: center;
        vertical-align: middle !important;
    }
</style>

