
@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@using MVC_SYSTEM.ModelsDapper
@model IEnumerable<sp_TaxCP39Prev_Result>


@{
    int? month = ViewBag.MonthList;
    int? year = ViewBag.YearList;
    string worker = ViewBag.WorkerList;
    string uniquefilename = "CP 39 (" + ViewBag.NamaPendekSyarikat + ") " + ViewBag.MonthList + ViewBag.YearList;
}

@if (Model != null && Model.Count() != 0)
{
    <div id="scrollArea" class="modal-body">

        <p style="font-size: 11px" align="right">@ViewBag.Date | @ViewBag.Time</p>

        <table id="page" class="table" style="font-size: 11px; margin-bottom: 0px" border="0">
            <thead>
                <tr>
                    <th colspan="11" style="text-align: center; vertical-align: middle; border: none;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@ViewBag.NoSyarikat)
                        <br />
                        MTD Text File Data (CP39)
                        <br />
                        @ViewBag.MonthList/@ViewBag.YearList
                        <br />
                    </th>
                </tr>
                <tr>
                    <th style="border: none;">

                    </th>
                </tr>
                <tr>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Income Tax No.</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Worker No.</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Worker Name</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">IC No.</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Passport No.</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Wife Code</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">Country Code</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">MTD Amount (RM)</th>
                    <th rowspan="1" style="margin: 2px !important; padding: 5px !important; text-align: center; vertical-align: middle !important; border: 1px solid red;" border="1">CP38 (RM)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_TaxNo</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_Nopkj</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: left; border-right: none; border-left: none"><font color="black">@item.fld_WorkerName.ToUpper()</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_Nokp</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_PassportNo</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_WifeCode</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: center; border-right: none; border-left: none"><font color="black">@item.fld_CountryCode</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: right; border-right: none; border-left: none"><font color="black">@item.fld_MTDAmount</font></td>
                        <td align="center" style="margin: 2px !important; padding: 4px !important; vertical-align: middle !important; border: 1px dotted gray; text-align: right; border-right: none; border-left: none "><font color="black">@item.fld_CP38Amount</font></td>
                    </tr>

                }

            </tbody>
        </table>

        <newpage />

    </div>

    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResCorp.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadPdf
            </a>
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResCorp.btnDownloadExcel
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadtxt">
                <span><img src="~/Asset/Images/notepad.png" width="20px" height="20px" /></span> Download Txt File
            </a>
        </div>
    }
}

@if (Model.Count() == 0)
{
    <div id="scrollArea" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        });

        $("#downloadtxt").click(function () {
            var Month = $("#MonthList").val();
            var Year = $("#YearList").val();
            var Region = $("#WilayahIDList").val();
            var Estate = $("#LadangIDList").val();
            $("#UpdateProgress1").css("display", "");
            var ajxfn = {};
            ajxfn.url = "@Url.Action("DownloadCP39TextFilePrev", "MaybankFileGen")";
            ajxfn.type = "POST";
            ajxfn.async = false;
            ajxfn.data = JSON.stringify({ Month: Month, Year: Year, Region: Region, Estate: Estate });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                $.simplyToast(result.msg, result.statusmsg);
                var win = window.open(result.link, '_blank');
                $("#UpdateProgress1").css("display", "none");
            };
            ajxfn.error = function () {
                $.simplyToast('@GlobalResCorp.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });

        $("#downloadpdf").click(function () {
          var myHtml = document.getElementById('scrollArea').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "MaybankFileGen")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "CP39Report" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast('Sorry to many data', 'danger');
                }
            });
            return false;
        });

    });
</script>