@using MVC_SYSTEM.Class
@*@model MVC_SYSTEM.ModelsCorporate.tbl_UpahAktivitiViewModel*@  
@*//Added by Shazana on 7/10*@
@model MVC_SYSTEM.ModelsCustom.tbl_UpahAktivitiViewModel

@{
    @Scripts.Render("~/bundles/jqueryval")
    string AktvtDesc = Model.fld_KodAktvt + " - " + Model.fld_Desc;
    string CategoryActivityDesc = Model.CategoryActivityDesc;
}

<section class="content-wrapper main-content clear-fix">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">@GlobalResCorp.titleUpdate</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">@GlobalResCorp.lblPayrateInfo</div>
                    <div class="panel-body">
                        @*Added by Shazana on 1/12/2021*@
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrWorkAktvt:</label>
                            <div class="col-md-7">

                                @Html.TextBox("CategoryActivityDesc", CategoryActivityDesc, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        @*Added by Shazana on 1/12/2021*@

                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrActvtCode:</label>
                            <div class="col-md-7">
                                @Html.TextBox("Aktvt", AktvtDesc, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.lblGLCode:</label>
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.fld_GLCode, new SelectList(ViewBag.fld_GL, "Value", "Text", ViewBag.Kod), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_GLCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrPrice (RM):</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.fld_Harga, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Harga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrDisableFlag:</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.fld_DisabledFlag, new SelectList(ViewBag.fld_Select, "Value", "Text", Model.fld_DisabledFlag), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_DisabledFlag, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrUnit:</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.fld_Unit, new SelectList(ViewBag.fld_Selection, "Value", "Text", Model.fld_Unit), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Unit, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*Added by Shazana on 1/12/2021*@
                        <div class="form-group">
                            <label class="control-label col-md-2">@GlobalResCorp.hdrmaxProduct:</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.fld_MaxProduktiviti, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_MaxProduktiviti, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Close Added by Shazana on 1/12/2021*@

                        @Html.HiddenFor(model => model.fld_ID)
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value=@GlobalResCorp.btnSave />
            <button class="btn btn-warning" data-dismiss="modal">@GlobalResCorp.btnBack</button>
        </div>

    }
</section>

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>

